html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;

}

#root > main {
    flex: 1;
}

.btn-services {
    background-color: #0DFD6D;
    border: 0;
}

.btn-services:hover {
    background-color: #025538;
}




